[phases.setup]
nixPkgs = ["php82", "php82Extensions.dom", "php82Extensions.mbstring", "php82Extensions.pdo", "php82Extensions.pdo_mysql", "php82Extensions.bcmath", "php82Extensions.zip", "php82Extensions.intl", "php82Extensions.gd", "php82Extensions.curl", "nginx", "mysql-client"]

[variables]
PHP_UPLOAD_MAX_FILESIZE = "10M"
PHP_POST_MAX_SIZE = "12M"

[phases.build]
cmds = ["npm install", "npm run build", "composer install --no-dev --optimize-autoloader", "php artisan optimize:clear", "php artisan optimize"]

[start]
cmd = "mkdir -p storage/app/livewire-tmp && php artisan migrate --force && chmod -R 777 storage bootstrap/cache && php-fpm -D && nginx -g 'daemon off;'"

[staticAssets]
path = "public"
